/*----------------------------->Home<-----------------------------*/
.home-content {
  min-height: 82vh;
  width: 100%;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content .texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.home-content h2 {
  color: var(--primary-text-color);
  font-size: 50px;
}
.home-content h3 {
  color: var(--primary-text-color);
  font-size: 42px;
  margin-top: -8px;
}
.home-content h3 span {
  color: var(--hover);
}
.home-content h3 span.darkMode {
  color: var(--black);
}
.home-content p {
  color: var(--primary-text-color);
  font-size: 16px;
  width: 45%;
  text-align: justify;
  margin: 4px 0 30px 0;
}
.home-content a {
  color: #fff;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  background: var(--foreground-color);
}
.home-content a i {
  transform: rotate(45deg);
  font-size: 16px;
}
.home-content a:hover {
  background: var(--hover);
}

/* Responsive Styles */
@media screen and (max-width: 786px) {
  .home-content {
    padding: 0 30px;
  }

  .home-content .texts {
    gap: 10px;
  }

  .home-content h2 {
    font-size: 40px;
  }

  .home-content h3 {
    font-size: 32px;
  }

  .home-content p {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .home-content .texts {
    gap: 15px;
  }

  .home-content h2 {
    font-size: 20px;
  }

  .home-content h3 {
    font-size: 18px;
  }

  .home-content p {
    width: 100%;
  }
}
