/***************************** Learn ******************************/

.sidebar .active {
  /* background: var(--hover); */
  background: var(--foreground-color);
}

.sidebar {
  min-height: 99.9vh;
  background: var(--sidebar);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.sidebar .side {
  /* min-height: 81vh; */
  width: 50px;
  /* background: var(--sidebar); */
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar label {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-text-color);
  display: block;
  transition: 0.3s;
}

.sidebar .side a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-text-color);
  display: none;
  transition: 0.3s;
}

.sidebar .side a:not(:not(.active)) {
  color: white;
}

.sidebar .side a:hover {
  color: #f1f1f1;
  background: var(--foreground-color);
}

/* Hide the checkbox */
.sidebar input[type='checkbox'] {
  display: none;
}

/* Show the sidebar when checkbox is checked */
.sidebar input[type='checkbox']:checked + .side {
  width: 200px;
}

.sidebar input[type='checkbox']:checked + .side a {
  display: block;
}

@media screen and (max-width: 450px) {
  .sidebar .side {
    padding-top: 15px;
  }

  .sidebar input[type='checkbox']:checked + .side {
    width: 90px;
  }

  .sidebar input[type='checkbox']:checked + .side a {
    display: block;
    font-size: 10px;
  }
}
/*  ☰*/
